body {
  background-color: lightyellow;
  text-align: center;
}

div.center {
    position: relative;
    margin: auto;
    width: 800px;
}

div.pack {
    top: -20px;
    z-index: 1;
}

div.social{
    position: absolute;
    bottom: -10px;
    right: 0px;
    z-index: 2;
}

header h1{
    font-size:120%;
    color:#333631;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight:400;
}

table {
    width: 100%;
    border: solid 1px #000000;
    border-collapse: collapse;
}

td,th {
    border: solid 1px #000000;
}

.btn{
    color: #fff;
    border: 1px solid #aacf53;
    background-color: #aacf53;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
    letter-spacing: 3px;
    text-decoration: none;
    overflow: hidden;
}

.btn:hover{
    background-color: #fff;
    border: 1px solid #aacf53;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #aacf53;
    overflow: hidden;
}