<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <title>スシローガチャ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="center">
    <header>
        <h1>スシローガチャ</h1>
    </header>
    <div>予算を入力して「ガチャる」ボタンを押してね</div>
    <form action="#" th:action="@{/result}" method="GET">
        <p>
            <label for="price">予算：</label>
            <input type="text" id="price" name="price" size="40"/>円
            <input type="hidden" name="uuid" th:value="${uuid}"/>
        </p>
        <p>
            <input type="submit" class="btn" value="ガチャる"/>
        </p>
    </form>
</div>
</body>
</html>